
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="student edit">
  <h2>Update Student</h2>

  <%= form_for(:Student, :url => {:action => 'update', :id => @stud.id})  do |f|-%>
    <%= render(:partial => "form", :locals => {:f=>f}) %>
    <div class="form-buttons">
      <%= submit_tag("Update Student") %>
    </div>
  <% end %>  

</div>
