<div align="center" size="1000">

	<h1 align="center">WELCOME</h1>
	<%= image_tag('images (1).jpeg') %>

	<p></p>
<%= link_to("Home", {:action => 'menu'}, :class =>'back-link') %>
<%= link_to("Student", {:action => 'list'}, :class =>'back-link') %>

</div>