
<%= link_to("<< Back to List", {:action => 'list'}, :class =>'back-link') %>

<div class="student new">
  <h2>Create Student Record</h2>

  <%= form_for(:stud, :url => {:action => 'create'}) do |f| %>
  
      <%= render(:partial => "form", :locals => {:f=>f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Student") %>
    </div>
    
  <% end %>
</div>
