<h1 align=center>Welcome to the Database</h1>
<div align="center">
<%= link_to("sign in", {:controller =>'user' ,:action => 'sign_in'}, :class =>'back-link') %>
<%= link_to("sign up", {:controller =>'user' ,:action => 'sign_up'}, :class =>'back-link') %>
</div>